[package]
name = "tmux-sessionizer"
version = "0.2.3"
authors = ["Jared Moulton <jaredmoulton3@gmail.com>"]
edition = "2021"
license = "MIT"
description = """
Tmux Sessionizer is a cli tool to fuzzy find all git repositories in a list of
specified folders and open them as a new tmux session. Also, for git worktrees,
this tool opens all checked out worktrees as new windows. 
"""
homepage = "https://github.com/jrmoulton/tmux-sessionizer"
repository = "https://github.com/jrmoulton/tmux-sessionizer"
exclude = [
    "images/*"
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
git2 = "0.18.1"
clap = { version = "4.4.6", features = ["cargo"] }
skim = "0.9.4"
confy = "0.5.1"
serde_derive = "1.0"
serde = "1.0"
error-stack = "0.3.1"
owo-colors = "3.5.0"
shellexpand = "2.1.2"
aho-corasick = "1.0.1"
rayon = "1.8.0"

[[bin]]
name = "tms"
path = "src/main.rs"

[dev-dependencies]
once_cell = "1.18.0"
